/*http://stackoverflow.com/questions/20061774/rotate-an-image-in-image-source-in-html*/
.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.cursor {
	cursor: pointer;
}

.center-svg {
    display: block;
    margin: auto;
}